
/* Стили для модального окна */
#modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Черный фон */
    background-color: rgba(0, 0, 0, 0.74); /* Полупрозрачный фон */
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Центрируем модальное окно */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}

.close {
    color: #aaa; /* Цвет кнопки закрытия */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1{
    font-family: Impact, fantasy;
    font-weight: 500;
  }

  h2{
    font-family: Impact, fantasy;
    font-weight: 300;
  }

  p{
    font-family: DejaVu Sans Mono, monospace;
    color: rgb(255, 160, 160);
  }

header{
    background-color:#ffffff;
    
}
header p{
    font-family: Courier New, monospace;
}

td{
    background: navy;
    color:#48ff00;
    border: 5px double #000;
}

#formBody {
    background-color: white;
    border-radius: 15px;
    display: flex;
    position: absolute;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
}

#siteHeader{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#navBar{
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.12);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.12);
}

aside{
    background-color:#45c1f1;
    border:thick;
    border-color: #000;
}

.link { text-decoration: none; }
.link:hover{
    color: #ff0000;
}
.link:active{color:#00ffd5;}

#asideElements{
    row-gap:10px;
}

.hidden {
    display: none;
  }

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #ff00c8;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}


main{
    background-color:#009600;
}

.itemCards{
    box-shadow: #000;
    background-color:white;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 20px;
    -webkit-box-shadow: 4px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.itemCards:hover{background-color:aliceblue;}

.orderButton{
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#navul{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    column-gap: 25px;
    list-style-type: none
}

.orderButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.orderButton:active {
    color: #000
}

.orderButton:active:after {
    background: transparent;
}

.orderButton:hover:before {
    opacity: 1;
}
.grid-container {
    display: grid; /* Grid Layout */
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    grid-template-rows: repeat(2, auto); /* 2 строки */
    gap: 10px; /* Промежуток между элементами */
    padding: 20px;
}

.orderButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.formLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
@media (min-width: 320px) and (max-width: 800px) {
    aside{
        display: none;
    }
    #navul{
        column-gap: 0px;
    }

    .grid-container{
        display: block;
    }

    img{
        max-width: 100%;
    }
    video{
        width: 70%;
        position: center;
    }

    table{
        width: 70%;
    }
    iframe{
        width: 340px;
    }

    #navBar{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color:white;
    }

    #navul{
        padding-left: 0;
        column-gap: 5px;
        
    }

    #pdffile{

        width: 320px;
        height: 320px;
    }

    #modal h2{
        font-size: 15px;
    }

    #modal{
        padding-bottom: 20px;
    }

    .close{
        font-size: 12px;
    }

    #contactForm{

        width: 70%;
    }

    #formBody{
        width: 90%;
        padding-left: 20px;
    }

    .cflabels{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
    }

}
