/* Стили для модального окна */
#modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Черный фон */
    background-color: rgba(0, 0, 0, 0.74); /* Полупрозрачный фон */
}

#modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Центрируем модальное окно */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}

.close {
    color: #aaa; /* Цвет кнопки закрытия */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#formBody {
    background-color: white;
    border-radius: 15px;
    display: flex;
    position: absolute;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
}

#siteHeader{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#navBar{
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.12);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.12);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.12);
}

aside{
    background-color:#fdf3f3;
    border:thick;
    border-color: #000;
}

main{
    background-color:#e2e2e2;
}

.itemCards{
    box-shadow: #000;
    background-color:white;
    border-radius: 6px;
    -webkit-box-shadow: 4px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.orderButton{
    width: 200px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.orderButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.orderButton:active {
    color: #000
}

.orderButton:active:after {
    background: transparent;
}

.orderButton:hover:before {
    opacity: 1;
}

.orderButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.formLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  